.pulseRed {
    animation-name: toRed;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
    color: red;
}

.pulseGreen {
    animation-name: toGreen;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
}